* {
    font-family: 'Roboto', sans-serif;

}

header {
    position: relative;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dashed #000000;
    padding-right: 45px;
}

header .subheader {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 87px;

}

.subheader_logo {

    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    opacity: 0.5;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 4px;
}

.subheader .subheader_call {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    margin-top: 19px;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    text-align: right;
    line-height: 12px;
    text-decoration: none;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url(../img/background/uber_bg.png) center center/cover no-repeat;

}

.promo .promo_header {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}




.reasons {
    padding: 18px 0 64px 0;
    background: #F2F2F2;
}

.reasons .title,
.mobile .title {
    display: block;
    margin: 0 auto;
    padding-top: 8px;
    width: 115px;
    height: 27px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
}

.reasons_header {
    color: #222222;
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.reasons .reasons_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}


.reasons .reasons_record {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1EACC7;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    margin-right: 25px;
}

.reasons .reasons_discr {
    width: 371px;
}

.reasons .row_subheader {
    color: #1EACC7;
    font-weight: 400;
    font-size: 17px;
}

.reasons .row_text {
    color: #202020;
    font-weight: 300;
    font-size: 15px;
}

